* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pagina,
.corpo {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cabecario {
    height: 150px;
    padding: 20px 0;

}

.corpoPagina {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo {
    width: 50%;
}

.menuNavegacao {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menuNavegacao .link {
    color: rgb(245, 143, 19);
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.imgProduto {
    position: absolute;
    bottom: -450px;
    right: -500px;
    min-width: 1000px;
    height: 870px;
    border-radius: 50%;
    background-color: rgb(32, 30, 27);
}

.redesSociais {
    position: absolute;
    right: 0px;
    top: 100px;
}

.redesSociais .socialImg {
    display: block;
    width: auto;
    height: auto;
    margin: 20px 0;
}

.primieroTexto .nomeEmpresa {
    font-size: 50px;
    margin: 25px;
    color: rgb(0, 0, 0);
}

.primieroTexto .shop {
    color: rgb(245, 143, 19);
}


.primieroTexto .descricao {
    font-size: larger;
    margin: 40px;
    color: rgb(0, 0, 0);
}

.primieroTexto .descricao .shop {
    color: rgb(0, 0, 0);
}

.rodape {
    text-align: center;
    padding: -1rem 0;
    margin-top: auto;
    color: rgba(0, 0, 0);
    position: relative;
}