.corpo {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.cabecario {
  background-color: rgb(245, 143, 19);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0.5rem 0;
  position: relative;
}

.botaoVoltar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.produtosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
}

.produtos {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.produtos .imagem {
  max-width: 65%;
}

.preco {
  font-weight: bold;
  color: #007bff;
}

.rodape {
  text-align: center;
  padding: 0.5rem 0;
}

@media (max-width: 768px) {
  .botaoVoltar {
    position: static;
    margin-bottom: 1rem;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }
}