* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
}

.logo {
    width: 50%;
}

.halfCircle {
    width: 300px;
    height: 300px;
    border-radius: 300px 0 0 0;
    background-color: rgb(245, 143, 19);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 60%;
}

.link {
    color: rgb(245, 143, 19);
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}

.nomeEmpresa {
    font-size: 50px;
    margin: 25px;
    color: rgb(0, 0, 0);
}

.shop {
    color: rgb(245, 143, 19);
}

.img {
    position: relative;
    top: 25%;
    width: 100%;
    padding: 0px 0;
}

.imgProduto {
    display: block;
    position: absolute;
    top: 75%;
    right: 3%;
    transform: translateY(-50%);
    padding: 10px 0;
}

.descricao {
    font-size: larger;
    margin: 40px;
    color: rgb(0, 0, 0);
}

.descricao .shop {
    color: rgb(0, 0, 0);
}

.bloco {
    border-radius: 50%;
    background-color: rgb(245, 143, 19);
}

.rodape {
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 100%;
    }

    .halfCircle {
        display: none;
    }

    .link {
        margin: 10px 0;
    }

    .sobre {
        grid-template-columns: 1fr;
    }

    .nomeEmpresa {
        font-size: 40px;
    }

    .imgProduto {
        display: none;
        right: 10%;
    }
}