.corpo {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.cabecario {
  background-color: rgb(245, 143, 19);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

.botaoVoltar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.formulario {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin: 20px auto;
}

.informacao {
  display: block;
  margin-bottom: 5px;
}

.caixaTexto, .descricao{
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.descricao {
  height: 100px;
}

.rodape {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

@media (max-width: 768px) {
  .botaoVoltar {
    position: static;
    margin-bottom: 1rem;
  }

  .formulario {
    padding: 15px;
    /* Reduzir o padding para telas menores */
  }

  .formulario,
  .caixaTexto,
  .descricao {
    width: 100%;
  }
}