/* Define estilos para todos os elementos na página */
* {
	margin: 0; /* Define margens como zero */
	box-sizing: border-box; /* Garante que as bordas e preenchimentos não aumentem as dimensões dos elementos */
	font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a família de fontes padrão */
}

/* Estilos para o corpo da página */
.corpo {
	font-family: Arial, sans-serif; /* Substitui a fonte para o corpo da página */
	margin: 0; /* Remove margens */
	padding: 0; /* Remove preenchimento */
	display: flex; /* Usa um layout flexível para alinhar conteúdo verticalmente */
	flex-direction: column; /* Define a direção da coluna para empilhar elementos verticalmente */
	min-height: 100vh; /* Define uma altura mínima igual à altura da tela */
}

/* Estilos para o cabeçalho */
.cabecalho {
	background-color: #f4f4f4; /* Define a cor de fundo do cabeçalho */
	color: rgb(0, 0, 0); /* Define a cor do texto */
	text-align: center; /* Centraliza o texto no cabeçalho */
	padding: 40px 0; /* Define preenchimento superior e inferior */
	position: relative; /* Define a posição relativa para permitir posicionamento absoluto de elementos filhos */
}

/* Estilos para os links de navegação no cabeçalho */
.link {
	color: rgb(245, 143, 19); /* Define a cor dos links */
	text-decoration: none; /* Remove a decoração de texto (sublinhado) */
	font-weight: bold; /* Define o peso da fonte como negrito */
	padding: 10px; /* Define o espaçamento interno dos links */
	margin-left: 100px; /* Define a margem direita entre os links */
}

/* Estilos para o botão de voltar com o logotipo */
.botaoVoltar {
	border: none; /* Remove a borda do botão */
	cursor: pointer; /* Altera o cursor para indicar interatividade */
	position: absolute; /* Define a posição absoluta para permitir posicionamento absoluto */
	top: 60%; /* Alinha o topo do botão no centro vertical */
	left: 1rem; /* Define a posição à esquerda */
	transform: translateY(-50%); /* Centraliza verticalmente usando uma transformação */
}

/* Estilos para o título principal*/
.tituloPrincipal {
	padding: 2px; /* Define o espaçamento interno do título */
	text-align: center; /* Centraliza o texto no cabeçalho */
}

/* Estilos para o título principal */
.titulo {
	padding: 2px; /* Adiciona espaço de preenchimento ao título */
}


.formulario{
    width: 100%; /* Define a largura máxima do formulário */
	max-width: 400px; /* Define a largura máxima do formulário */
	background-color: #fff; /* Define a cor de fundo do formulário */
	padding: 15px; /* Adiciona espaço de preenchimento interno ao formulário */
	border-radius: 5px; /* Define uma borda arredondada para o formulário */
	box-shadow: 0px 0px 10px  #ccc; /* Adiciona uma sombra sutil ao formulário */
	margin: 100px auto; /* Centraliza o formulário horizontalmente */
    position: relative; /* Define a posição absoluta para permitir posicionamento absoluto */
	display: grid; /* Usa um layout de grade para organizar os elementos */
	grid-template-columns: repeat(auto-fit, minmax(357px, -2fr)); /* Cria colunas flexíveis */
	gap: 1.2rem; /* Define o espaçamento entre as colunas e linhas da grade */
	padding: 0.5rem; /* Adiciona espaço de preenchimento à grade */
	align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: stretch;  
}


.caixaTexto {
	width: 100%; /* Define a largura dos campos de entrada */
	padding: 8px; /* Adiciona espaço de preenchimento interno aos campos */
	margin-bottom: 10px; /* Adiciona espaço abaixo dos campos */
	border: 1px solid #ccc; /* Define uma borda com cor cinza */
	border-radius: 3px; /* Define uma borda arredondada para os campos */
	margin-top: 5px;
}
.texto{
	padding: 10px 0;
}

.enviar{
	padding: 10px;
	color: rgb(245, 143, 19);
}

/* Estilos para o rodapé da página */
.rodape {
	text-align: center; /* Centraliza o texto no rodapé */
	padding: 1rem 0; /* Define o espaço de preenchimento superior e inferior */
	margin-top: auto; /* Move o rodapé para a parte inferior da página */
	color: rgba(0, 0, 0); /* Define a cor do texto no rodapé */
}

/* Estilos para dispositivos com largura máxima de 811px */
@media (max-width: 768px) {

	/* Estilos para o botão de voltar em dispositivos pequenos */
	.botaoVoltar {
		position: static; /* Remove a posição absoluta para o botão */
		margin: 0 auto; /* Centraliza horizontalmente usando margin:auto */
		display: block; /*  O elemento block ocupa 100% da largura disponível e para ele é sempre iniciado em uma nova linha. */
		margin-top: 4rem; /* Define a margem superior */
	}

	/* Estilos de layout alterados para o formulário em dispositivos pequenos */
	.formulario {
		padding: 15px; /* Reduz o espaço de preenchimento interno do formulário */
	}

	/* Alterações para a seção de cabeçalho em telas pequenas */
	.cabecalho {
		flex-direction: column; /* Altera a direção dos elementos para empilhamento vertical */
		text-align: center; /* Centraliza o texto no cabeçalho */
	}

	/* Ajusta a margem dos links de navegação em telas pequenas */
	.link {
		margin: 10px 0; /* Reduz a margem vertical entre os links */
	}

	/* Ajusta o rodapé em telas pequenas */
	.rodape {
		position: relative; /* Remove a posição fixa para o rodapé */
	}
}