body{
    background-color: #5beba5;
}

nav ul{
    display:flex;
    justify-content:space-between;
    padding: 20px;
    
    
}

#tituloNovidades {
    color:#000000;
}

#primeiroAzul{
    color:#3c4788;
}   

.segundoVermelho{  
    color:#bb3535;
}

#tituloDois{
    color: #000000;
}