#html{
    background-color: black;
}
#corpo ,.menu, .categorias, .itens{
    margin:6px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
#header {
    background: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;/*Alinha os menus com a logo */
    align-items: center;
    padding: 20px;/*direciona a logo para abaixo*/
    border:solid black 10px ;
}
.menu {
    display: flex;
}
.menu .categorias {
    margin-left: 10px;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 230px;
    margin: 0 auto;
    grid-gap: 20px;
    background-color: gray;
    border:solid black 10px ;
}

#grid  .caixa{
    height: 210.2px;
    width: 100%;
}
.produto, .itens, #logo{
    text-decoration: none;
    color: white
}
.produto{
    padding: 10px;
}