<!DOCTYPE html>
<html class="pagina" lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<!--user-scalable permite que o usuario possa diminuir e aumentar o zoom da pagina  -->
	<meta name="viewport" content="width=device-width, user-scalable=1.0" >
	<!-- Faz o direcionamento para a pagina CSS estiloContato -->
	<link rel="stylesheet" href="../css/estiloCadastro.css">
	<title>Cadastro</title>
</head>

<body class="corpo">
	<!-- Cabeçalho da página -->
	<header class="cabecalho">
		<!-- Links de navegação -->
		<a class="link" href="empresa.html"> Empresa</a>
		<a class="link" href="produtos.html"> Produtos</a>
		<a class="link" href="contato.html"> Contato</a>
		<a class="link" href="login.html"> Login</a>
		<!-- Botão de voltar com o logotipo -->
		<a href="index.html"><img class="botaoVoltar" src="../img/logo.png" alt="logo"></a>
	</header>
    
    <section class="cadastro">
		<form class="formulario" action="login.php" method="POST" name="add">
			<!-- Título Principal da Página -->
			<h1 class="tituloPrincipal">Cadastrar</h1>
			<div>
				<label class="texto" for="nome_cliente">Nome Completo:
				<input class="caixaTexto" type="text" name="nome_cliente">
				
				<label class="texto" for="data_nascimento">Data de Nascimento:
				<input class="caixaTexto" type="date" name="data_nascimento">
		
				<label class="texto" for="cpf_cnpj">CPF/CNPJ:
				<input class="caixaTexto" type="text" name="cpf_cnpj">
		
				<label class="texto" for="genero">Gênero:
					<select class="caixaTexto" name="genero">
					<option value="Masculino">Masculino</option>
					<option value="Feminino">Feminino</option>
					<option value="Outro">Outro</option>
					</select>
				<input type="submit" name="submit" value="Adicionar">
			</div>
		</form>
    </section>
	<!-- Seção de Rodapé -->
	<footer class="rodape">
		<!-- Aviso de Direitos Autorais -->
		<p>&copy; 2023 MicroMagic Shop. Todos os direitos reservados.</p>
	</footer>
</body>

</html>