<!DOCTYPE html>
<html class="pagina" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=1.0">
    <link rel="stylesheet" href="../css/estiloEmpresa.css">
    <title>Empresa</title>
</head>

<body class="corpo">
    <header class="cabecalho">
        <a class="link" href="empresa.html"> Empresa</a>
        <a class="link" href="produtos.html"> Produtos</a>
        <a class="link" href="contato.html"> Contato</a>
        <a class="link" href="login.html"> Login</a>
        <a href="index.html"><img class="botaoVoltar" src="../img/logo.png" alt="logo"></a>
    </header>

    <section class="corpoTexto">
		<div class="informacoesTexto">
			<h1 class="nomeEmpresa">MicroMagic <span class="shop">Shop</span></h1>
			<p class="sobre" id="sobre"></p>
		</div>
	
		<!-- Seção de Missão -->
		<div class="missao">
			<h1 class="titulo">MISSÃO</h1>
			<p class="descricao" id="missao"></p>
		</div>
	
		<!-- Seção de Visão -->
		<div class="visao">
			<h1 class="titulo">VISÃO</h1>
			<p class="descricao" id="visao"></p>
		</div>
	
		<!-- Seção de Valores -->
		<div class="valores">
			<h1 class="titulo">VALORES</h1>
			<p class="descricao" id="valores"></p>
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="../../controller/js/requisicaoInfoEmpresa.js"></script>
    <footer class="rodape">
        <p>&copy; 2023 MicroMagic Shop. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
