* {
    box-sizing: border-box;
}

#corpo,
#html {
    height: 100%;
    margin: 0 auto;
    color: white;
    font-family: Arial;
    background-color: black;
}

#grid {
    margin: auto;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    background-color: gray;
    padding: 0 20px 20px 20px;
    border: 10px solid white;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#grid .caixa {
    height: 210.2px;
    width: 100%;
}

#voltar #botao {
    border: 2px solid black;
    border-radius: 5px;
    color: red;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    padding: 3px 5px 4px 5px;
    position: absolute;
    background-color: white;
}