body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.form-container {
  width: 100%; /* Alterado para ocupar a largura total */
  max-width: 400px; /* Limitar a largura máxima para tamanhos maiores */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin: 120px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

@media (max-width: 768px) {
  .back-button {
    position: static;
    margin-bottom: 1rem;
  }

  .form-container {
    padding: 15px; /* Reduzir o padding para telas menores */
  }
  
  .form-container,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
  }
}
/*@media (max-width: 760px) and (max-height: 777px) {
  body {
    flex-direction: column;
  }

  .form-container {
    margin: 10px auto;
    max-width: none;
  }
}*/