* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cabecalho {
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.botaoVoltar {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.formulario {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin: 20px auto;
}

.informacao {
  display: block;
  margin-bottom: 5px;
}

.caixaTexto,
.mensagem {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.mensagem {
  height: 100px;
}

.rodape {
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

@media (max-width: 811px) {
  .botaoVoltar {
    position: static;
    margin-top: 4rem;
  }

  .formulario {
    padding: 15px;
    /* Reduzir o padding para telas menores */
  }
}