* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.botaoVoltar {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.produtosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
}

.produtos {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.produtos .imagem {
  max-width: 65%;
}

.preco {
  font-weight: bold;
  color: #007bff;
}

.rodape {
  text-align: center;
  padding: 0.5rem 0;
}

@media (max-width: 811px) {
  .botaoVoltar {
    position: static;
    margin-top: 4rem;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }
}