* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

.botaoVoltar {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.corpoTexto {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-grow: 1;
}

.missao,
.visao,
.valores {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
    flex: 1;
    margin: 0 10px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.descricao {
    font-size: 18px;
    color: #666;
}

.rodape {
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    color: rgba(0, 0, 0);
}

@media (max-width: 811px) {
    .botaoVoltar {
      position: static;
      margin-top: 4rem;
    }
}