<!DOCTYPE html>
<html class="pagina" lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<!--user-scalable permite que o usuario possa diminuir e aumentar o zoom da pagina  -->
	<meta name="viewport" content="width=device-width, user-scalable=1.0" >
	<!-- Direcionamento de para a pagina CSS da estiloEmpresa -->
	<link rel="stylesheet" href="css/estiloEmpresa.css">
	<title>Sobre a MicroMagic</title>
</head>

<body class="corpo">
	<!-- Cabeçalho da página -->
	<header class="cabecalho">
		<h1 class="titulo">Sobre Nós</h1>
		<!-- Links de navegação -->
		<a class="link" href="produtos.html"> Produtos</a>
		<a class="link" href="contato.html"> Contato</a>
		<a class="link" href="login.html"> Login</a>
		<!-- Botão de voltar com o logotipo -->
		<a href="principal.html"><img class="botaoVoltar" src="../img/logo.png" alt="logo"></a>
	</header>
	
	<!-- Corpo principal da página -->
	<section class="corpoTexto">
		<!-- Seção de Missão -->
		<div class="missao">
			<h1 class="titulo">MISSÃO</h1>
			<p class="descricao">Nossa missão é fornecer micro-ondas de alta qualidade a preços acessíveis, tornando o
				cozimento mais rápido e eficiente para nossos clientes.</p>
		</div>

		<!-- Seção de Visão -->
		<div class="visao">
			<h1 class="titulo">VISÃO</h1>
			<p class="descricao">Nossa visão é ser a principal referência em soluções de aquecimento e cozimento, sempre
				inovando e atendendo às necessidades culinárias em constante evolução.</p>
		</div>

		<!-- Seção de Valores -->
		<div class="valores">
			<h1 class="titulo">VALORES</h1>
			<p class="descricao">Nossos valores incluem compromisso com a qualidade, ética nos negócios e satisfação do
				cliente em todos os aspectos do nosso trabalho.</p>
		</div>
	</section>

	<!-- Rodapé da página -->
	<footer class="rodape">
		<p>&copy; 2023 MicroMagic Shop. Todos os direitos reservados.</p>
	</footer>
</body>

</html>